body {
	margin: 0;
	font-family: 'IBM Plex Serif', serif;
}
/*---------Index---------*/

.section-title-area {
	margin-bottom: 60px;
	text-align: center;
}

.section-title-area .section-title {
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 800;
	position: relative;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.onepage-section {
	position: relative;
	overflow: hidden;
}


/*---------Alojamento---------*/
.infoHotel{
	margin-top: 515px;
}


/*---------Contactos---------*/

.info{
	margin: 20px;
	font-size: 30px;
	float: left;
	width: 35%;
	display: inline-block;
	color: #222;
}

.info a{
	text-decoration:none;
	color:black;
}

.info a:hover{
	color: #777;
}

.info p{
	font-size: 15px;
	margin-left: 15px;
	margin:10px;
	padding: 10px;
	line-height: 1.7;
	color: #777777;
}


/*---------Contactos Formulario ---------*/



input,select,form textarea {
	width: 77%;
	padding: 1.13em 1em 1.13em 1em;
	color: #858282;
	font-size: 16px;
	outline: none;
	background: #f8f9f9;
	font-weight: 500;
	border: 1px solid;
	border-top-right-radius: 0.3em;
	-o-border-top-right-radius: 0.3em;
	-moz-border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	border-border-bottom-right-radius: 0.3em;
	-o-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
}

form textarea {
	resize: none;
	height: 140px;
}


/*---------Fim Contactos---------*/


/*--------- Preçario---------*/

table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
	border-spacing: 0;
}

table > tbody > tr > td, table > tfoot > tr > td {
	border: 1px solid #e9e9e9;
	line-height: 1.42857;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
/*--------- Fim Preçario---------*/

/*--------- Menu---------*/

.embed-responsive-16by9
{
	max-width: 60%;
}

/*--------- Fim Menu---------*/


/*--------- Conteudo das Paginas---------*/ 
.main-container{
	top: 25px;
	position: relative;
}

.entry-content{
	line-height: 1.7;
	color: #777777;
	margin-bottom: 0.9375rem;
	margin-top: 25px;
}
.entry-content img{
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.entry-content a:active, a:focus, a:hover {
	outline: none;
	text-decoration: none;
}

.entry-content  a:hover {
	text-decoration: underline;
	text-shadow:2px black;
	font-weight: bolder!important;
}

.entry-content a {
	text-decoration: none;
	color: black;
	outline: none;
}

.entry-header{	    
	background: transparent;
	box-shadow: none;
}

.entry-header .entry-title {
	font-weight: 500;
	text-transform: none;
	letter-spacing: -0.6px;
	font-size: 30px;
	line-height: 1.3;
	margin-bottom: 5px;
	text-align: center;
}
/*--------- Fim Conteudo das Paginas---------*/ 

/*--------- Footer---------*/ 
.footer-container{
	position: relative;
	bottom: -60px;
}

.site-footer {
	background: #111111;
	color: #BBBBBB;
	font-size: 14px;
}

.site-footer .site-info {
	position: relative;
	text-align: center;
	padding: 35px 0px;
	background: #222222;
	font-weight: 500;
	color: #bbbbbb;
}

.site-footer .btt a {
	border-radius: 0px 20px 0 0;
	color: #999999;
	background: #222222;
	display: block;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	margin: auto;
	position: absolute;
	right: 60px;
	top: -25px;
	transition: all 0.2s linear 0s;
	width: 50px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.fas.fa-angle-double-up
{
	transform:rotate(45deg);
}
.site-footer{
	padding: 0 !important
}

/*--------- Fim Footer---------*/ 

/*--------- Jantar imagem e iframe ---------*/
.h_iframe{
	position:relative;
}

.h_iframe img {
	width:100%;
	height:auto;
}

.h_iframe iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%; 
	height:100%;
}
/*--------- Fim Jantar imagem e iframe ---------*/

/*--------- Media Queries --------*/
@media only screen and (max-width:420px) {
	/*---------Contactos---------*/
	.contacto{
		left: 3% !important;
	}
	/*---------Oradores---------*/
	.orador img {
		position: relative;
		margin-left: 20% !important;
	}
}

@media (max-width:480px){
	
	/*---------Inputs---------*/
	input[type="text"], form textarea {
		width: 77%;
		padding: 1em 1em 1em 1em;
		font-size: 15px;
	}
}

@media only screen and (max-width:1150px) {
	
	body{
		font-size:0.9em;
	}
	
	
	/*--------- Fim Menu ---------*/ 
	
    #IMG22{
        width:100%;
        margin-top: 1%;
	}
	
}



@media only screen and (max-width: 700px){
    #IMG22{
        width:40%;
		margin-top: 4%
	}
}
h2{
    color:black;
}

#fb{
    color: white;
    position: relative;
    right: 50px;
	top: 10px;
}

#fb:hover{
	color: #3b5998;
}

#ig{
	color: white;
	position:relative;
	right: 50px;
	top:10px;
}

#ig:hover{
	color: #d62976;
}

#email{
    text-decoration: none;
    color: white;
	position
}
#index{
    clear:both;
}

#indeximg{
    float: left;
    margin-right: 10px;
    width: 50%
}

#indeximg img{
    width: 100%;
}

#cartaz{
    width: 90%;
}

#IMG22{
	width:40%;
	margin-bottom: 1%;
}

#IMG2{
    width: 50%
}

#IMG17
{
	max-width:50%;
}

#IMGCarousel
{
	max-width:100%;
	float:left;
}

.textOrad
{
	opacity:0%;
}


#INDEXH1
{
	margin-bottom:5%
}

#ORADORESH3
{
	margin-bottom:15.9%
}

#IMG23
{
	max-width:25%
}

#IMG25
{
	width:100%;
}

#homeMobile
{
	text-decoration:none;
	color:white;
}

#homeMobile:hover
{
	text-decoration:none;
	color:white;
}

#IMG26
{
	max-width:100%;
}

#IMG13
{
	width: 20%;
	margin-bottom:5%;
}

#textoPack1
{
	margin-top: 10%;
	font-size: 1.5em;
}

#textoPack2
{
	font-size: 1.5em;
}
.packs
{
	border: 1px solid rgb(187, 5, 7) !important;
	box-shadow: 5px 5px rgb(187, 5, 7) !important;
}

#pack1
{
	margin-top:2%;
	margin-bottom:2%;
}

#pack1-entry
{
	margin-top: 0px;
	margin-bottom: 0px;
}

a.btn.btn-outline-danger
{
	color:rgb(187, 5, 7)!important;
}

a.btn.btn-outline-danger : hover
{
	color:white!important;
}

@media only screen and (max-width:600px) {
    #IMG22{
        width:40%;
	margin-top: 5%}
	
	
}
@media only screen and (max-width:500px) {
    #IMG22{
        width:40%;
	margin-top: 6%}
}
@media only screen and (max-width:400px) {
	
	#homeMobile
	{
		font-size:0.8em;
		text-decoration:none;
		color:white;
	}
	
    #IMG22{
        width:40%;
	margin-top: 7%}
}
@media only screen and (max-width:300px) {
    #IMG22{
        width:100%;
	margin-top: 10%}
}

.carousel-control-next
{
	background-color: rgb(187, 5, 7)!important;
}
.carousel-control-prev
{
	background-color: rgb(187, 5, 7)!important;
}

.imagem-slider
{
	padding-right:6.3% !important;
}

.texto-slider
{
	padding-left:6.3% !important;
}

.carousel-control-next, .carousel-control-prev 
{
	width:5% !important;
}

#SlideshowOradoresMobileP, #SlideshowOradoresMobileW
{
	display:none;
}


#lki{
	color: white;
    position: relative;
    right: 50px;
	top: 10px;
}

#lki:hover{
	color: #2867B2;
}

.patrocinadores
{
	max-width:50% !important;
}
.patrocinadoresMax
{
	max-width:75%!important;
}

#nav-link{
	color:black!important;
}

.nav-item:hover
{
	text-decoration:none;
}

@media only screen and (max-width:767px) {
	.patrocinadores
	{
		max-width:25% !important;
	}
	.patrocinadoresMax
	{
		max-width:50%!important;
	}
	#SlideshowOradoresMobileP, #SlideshowOradoresMobileW
	{
		display:block;
	}
	#SlideshowOradoresP , #SlideshowOradoresW
	{
		display:none;
	}
	.carousel-control-next, .carousel-control-prev 
	{
		width:3% !important;
	}
	.texto-slider
	{
		padding-left: 15px !important
	}
	.imagem-slider
	{
		padding-right: 15px !important;
	}
	#lki{
		color: white;
		position: relative;
		right: 5%;
		top: 10px;
	}
	
	#lki:hover{
		color: #2867B2;
	}
	
	#fb{
		color: white;
		position: relative;
		right: 5%;
		top: 10px;
	}
	
	#fb:hover{
		color: #3b5998;
	}
	
	#ig{
		color: white;
		position:relative;
		right: 5%;
		top:10px;
	}
	
	#ig:hover{
		color: #d62976;
	}
	.textOrad
	{
		opacity:100%;
	}
}
